<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Ponto Digital</title>
    <link href="~/css/HomeStyle.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    @if (!"Home".Equals((string)ViewData["NomeView"]))
    {

     <link href="~/css/FlexStyle.css" rel="stylesheet" type="text/css">  
    }
</head>
<body class="flex-container">
    @RenderBody()
    <footer>
        <div class="section-container">
            <address>
                Avenida Paulista, 132 - São Paulo - SP
                <br />
                pontodigital@email.com
                <br />
                +55 (11) 1234 4321
            </address>
            <a href="#">Voltar para o topo!</a>
        </div>
    </footer>
</body>