<head>
     <link href="~/css/style-login.css" rel="stylesheet" type="text/css">
</head>

    <header>
        @{
            Html.RenderPartial("_HeaderNavBar");
        }
        <hgroup>
            <h1>Ponto Digital</h1>
        </hgroup>
    </header>

    <main>
        <h2>@ViewData["Action"] não foi completado!</h2>
    </main>