<header>
    @{
        Html.RenderPartial("_HeaderNavBar");
    }
</header>
    <main class="conteudo_geral">
        <section class="banner">
            <div class="intro">
                <img src="IMG/logo.png" alt="Imagem do logo do produto Ponto Digital">
                <p>Falta apenas <br> <strong class="banner_destaque">UM PONTO <br></strong> para você evoluir a sua
                    empresa </p>
            </div>

            <article class="info">
                <p>
                    O <strong> Ponto digital </strong> é uma ferramenta desenvolvida pela equipe <strong> Agora Vai
                    </strong> idealizada para que os chefes e donos de empresas consigam administrar as funções e
                    horários de seus funcionários de forma online e em tempo real

                </p>
            </article>

            <div class="banner_freetrial">
                <a href="#produtos">Experimente o teste grátis por 30 dias</a>
            </div>
        </section>

        <section class="Projetos">
            <h2>O melhor na área de gerenciamento de funcionarios!!!</h2>
        </section>
    </main>

</html>