@using PontoDigitalMark2.Models;
@model PontoDigitalMark2.ViewModels.ContratoViewModel;

@{
    Html.RenderPartial("_HeaderNavBar", ViewData["User"]);
}

<h2> Registro de depoimentos  </h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Comentário</th>
            <th>Data do depoimento</th>
        </tr>
    </thead>
    <tbody>
         @foreach (var item in ViewData["depoimentos"] as List<Depoimento>)
         {      
                <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>@item.Depoimento</td>
                <td>@item.DataDepoimento</td>
                <td>
                    <a href="/Admin/Aprovar?id=@item.Id">Aprovar</a>
                    <a href="/Admin/Rejeitar?id=@item.Id">Rejeitar</a>
                    <a href="/Admin/Excluir?id=@item.Id">Excluir</a>
                </td>
            </tr>
            }
    </tbody>
</table>