#sumir{
    display: none;
}
form{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.inputs{
    margin: 0.5em 0em;
}
.inputs label{
    font-size: 2em;
    font-weight: bold;
}
input{
    width: 55%;
    height: 35px;
    border: 2px solid #fff;
}
input[type="submit"]{
    color: #000;
    background-color: #000;
    font-size: 1.5em;
    height: 2em;
    border-radius: 3px;
    font-weight: bold;
    margin: 1.5em auto;
}
input[type="submit"]:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #ffffff80;
    box-shadow: 2px 2px #ffffff80;
    font-weight: bold;
    cursor: pointer;
}