* {
    margin: 0;
    padding: 0;
}


html{
    scroll-behavior: smooth;
}

/*Nav*/
nav{
    background-color: #101619;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
    list-style-type: none;

}

nav a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 0.4em 2em;
}

a.active{
    color: #F29F05;
}

nav a:hover{
    background-color: #033E8C;
    color: #fff;
}

.botao_menu{
    display: none;
}



body {
    font-family: 'Calibri', 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family:'Roboto Slab','Londrina Solid',serif, cursive;
}

section {
    text-align: center;
}

section h2 {
    padding: 20px 0;
}

.fundonavbanner{
    background-image: url(../IMG/planos-background1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

#banner{
    color: #fff;
}

#banner p{
    font-size: 1.8em;
    font-weight: bold;
    padding-left: 2.4em;
}
.produtos img{
    width: 100%;
    max-width: 300px;
}

.detalhes iframe{
    margin-top: 50px;
    width: 600px;
}
.plano img{
    width: 100%;
    max-width: 150px;
}

.plano{
    font-size: 1.5em;
    color: #F29F05;
    margin-top: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.planos p{
    text-decoration: none;
    padding: 7px;
    font-size: 1em;
}

.planos a{
    text-decoration: none;
    font-size: 2em;
}

.plano a{
    text-decoration: none;
}

.nada{
    font-size: 1.8em;
    text-align: center;
    margin-top: 200px;
    color: #F29F05;
}

.planos-conteudo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0%;
    margin: 0%;
}

#planos h2{
    font-size: 2em;
    color: #033E8C;
}

#planos h3{
    font-size: 2em;
    color: #033E8C;
}

#historia h2{
    margin-bottom: 30px;
    text-align: center;
    font-size: 2em;
    color: #ffbc0d;
}

#historia{
    background-color: #162326;
    text-align: center;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

#historia img{
    width: 100%;
    max-width: 300px;
    height: 300px;

}

.empresa{
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.empresa p{
    padding: 30px;
    margin: 20px;
    margin-right: 100px;
    border-radius: 30px;
    height: 200px;
    color: #fff;
    
}

.ponto{
    margin: 30px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ponto p{
    padding: 30px;
    margin: 30px;
    border-radius: 30px;
    height: 200px;
    color: #fff;
}

#contato h2{
    font-size: 2.5em;
}


.informacoes{
    display: flex;
    justify-content: center;
    align-content: center;
}
.funcionamento{
    border-radius: 10px;
    font-size: 1.4em;
    color: #fff;
    width: 30%;
    background-color: #162326;
}

.LogoCadastro{
    max-width: 350px;
    width:100%;
    align-self: center;

}

.tudo{
    align-items: center;
    justify-items: center;
    justify-content: center;
}

input[name=uname], input[name=psw] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  #cadastro input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #F29F05;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    /* margin: 8px 0 0 0; */
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .tudo h3{
      font-size: 2em;
  }

.TodoConteudo{
    display: flex;
    align-content: space-around;
    justify-content: space-evenly;
}

#footer{
    text-align: center;
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #101619;
}

#bannerComentarios h2{
    margin-right: 7%;
}

#bannerComentarios img{
    max-width: 235px;
}

#comentarios{
    text-align: center;
    width: 90%;
    margin: 1em auto;
}

#comentarios h3{
    margin: 1em auto;   
    font-size: 2.5em;
}

#comentarios > p{
    margin-top: -0.75em;
    margin-bottom: 0.25em;
    font-size: 1.5em;
}
#comentariosFeitos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.comentario{
    padding: 1em;
    text-align: left;
    width: 49%;
    border-style: solid;
    border-width: 0.09em;
    margin: 1em 0;
    background: #eee;
}
.nomeEmail{
    text-decoration: underline;
    font-size: 1.1em;
    margin-bottom: 0.25em;
}
.data{
    text-align: right;
}

label[for="msg"]{
    display: block;
    margin: 2em 0 -1em 0;
}

#comentar{
    text-align: center;
    width: 70%;
    margin: 2em auto;
}
#comentar h3{
    font-size: 2em;
}
#comentar a{
    text-decoration: none;
    margin: 0.3em 0 1em 0;
    font-size: 1.5em;
    text-decoration: underline;
}
#comentar a:hover{
    cursor: pointer;
}
#comentar form{
    text-align: left;
    font-size: 1.2em;
}
.inputs{
    width: 80%;
    margin: 0 auto;
}


.input_msg{
    width: 100%;
    background: #eee;
}
.submit{
    display: block;
    width: 25%;
    height: 1.5em;
    font-size: 1.3em;
    margin: 0 auto;
}
@media screen and (max-width:1200px){
    .inputs{
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width:930px){
    #comentar{
        width: 80%;
    }
}
@media screen and (max-width:768px){


    .botao_menu{
        
        display: block;
        position: relative;
        background-color: #162326;
    }
    .botao_menu img{
        max-width: 8%;
        max-height: 8%;
    }
    #menu{
        width: 100%;
    }
    .menu{
        display: none;
        position: absolute;
        background: #000000e0;
        z-index: 3;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .active{
        display: block;
    }
    #menu ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intro img{
        width: 300px;
    }

    #planos h2{
        text-align: center;
        margin-left: 120px;
        width: 70%;
    }

    #planos h3{
        font-size: 2em;
        color: #033E8C;

    }

    .plano{
        font-size: 0.8em;
    }

    .produtos img{
        margin-top: 20px;
        width: 100px;
    }

    .detalhes iframe{
        margin-bottom: -200px;
        width: 200px;
    }

    .detalhes{
        width: 70%;
        margin: 0;
    }

    .planos-conteudo{
        flex-direction: column;
        display: flex;

    }

    #historia p{
        font-size: 0.8em;
    }

    #historia img{
        width: 200px;
        height: 200px;
    }

    .funcionamento{
        width: 80%;
        margin: 20px; 
    }

    #comentar{
        width: 90%;
    }
    .comentario{
        width: 100%;
    }
    #comentar p{
        font-size: 1.2em;
    }
    #comentar h3{
        font-size: 1.7em;
    }
    #comentarios h3{
        margin: 0.5em auto;   
        font-size: 2.2em;
    }
    #comentar form{
        font-size: 1em;
    }

    .tudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        justify-content: space-evenly;
    }

    .TodoConteudo{
        margin-top: 70px;
        display: flex;
        flex-direction: column;
    }

    .container{
        margin-bottom: 40px;
    }

    @media screen and (max-width:360px){

        #menu .ul_menu a{
            color: #fff;
            font-size: 1.2em;
            padding: 0.52em;
            text-transform: uppercase;
            text-decoration: none;
            display: block;
        }

        .intro img{
            width: 200px;
        }

        .intro{
            font-size: 0.7em;
            margin: 0px;
        }

        .intro p{
            margin-right: 70px;
        }

        .info{
            font-size: 0.7em;
            margin-right: 70px;
        }
    
        #planos h2{
            text-align:start;
            margin-left: 50px;
            width: 80%;
        }

        .nada{
            font-size: 0.5em;
            margin: 20px;
        }
    
        #planos h3{
            font-size: 2em;
            color: #033E8C;
    
        }
    
        .detalhes{
            width: 30%;
            margin-right: 70px;
        }
    
        .planos-conteudo{
            flex-direction: column;
            display: flex;
    
        }
    
        #historia{
            max-width: 100%;
            display: flex;
            align-content: center;
            justify-content: space-evenly;
        }
        #historia p{
            margin: 0;
            font-size: 0.6em;
        }
    
        #historia img{
            width: 200px;
            height: 200px;
            margin: 0;
        }

        .empresa{
            margin: 0;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
        }

        .ponto{
            margin: 0;
            display: flex;
            flex-direction: column-reverse;
            align-content: center;
            justify-content: center;
        }
    
        .funcionamento{
            width: 80%;
            margin: 20px; 
        }

        #contato h2{
            font-size: 1.5em;
        }

        .informacoes{
            font-size: 0.6em;
        }
        
        .TodoConteudo{
            max-width: 90%;
        }

        .tudo h3{
            font-size: 1.5em;
        }

        .tudo h2{
            max-width: 200px;
        }
    }

}








